<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>TODO LIST</h1>
    <ul>
      <li v-for="(item, index) in todos" :key="index">
        <p>
          {{ item }}
          <button @click="deleteTodo(index)">削除</button>
          <button @click="tryToEditTodo(index)">編集</button>
        </p>
      </li>
    </ul>
    <h2>新規作成する</h2>
    <input v-model="addItem">
    <button @click="addTodo()">TODO LISTへ追加</button><br>
    <h2>編集する</h2>
    <input v-model="editItem">
    <button @click="editTodo()">更新</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          todos: [],
          addItem: '',
          editItem: '',
          editIndex: ''
        }
      },
      mounted () {
        if (window.localStorage.getItem('todos')) {
          this.todos = JSON.parse(window.localStorage.getItem('todos'))
        }
      },
      methods: {
        addTodo () {
          if (this.addItem !== '') {
            this.todos.push(this.addItem)
            this.addItem = ''
            this.saveTodo()
          } else {
            window.alert('空欄でTODO LISTへ追加はできません')
          }
        },
        saveTodo () {
          const stringfied = JSON.stringify(this.todos)
          window.localStorage.setItem('todos', stringfied)
        },
        deleteTodo (index) {
          this.todos.splice(index, 1)
          this.saveTodo()
          this.editItem = ''
          this.editIndex = ''
        },
        tryToEditTodo (index) {
          this.editItem = this.todos[index]
          this.editIndex = index
        },
        editTodo () {
          if (this.editItem !== '') {
            this.todos.splice(this.editIndex, 1, this.editItem)
            this.editItem = ''
            this.editIndex = ''
            this.saveTodo()
          } else {
            window.alert('空欄で更新はできません')
          }
        }
      }
    })
  </script>
</body>
</html>
